<div class="custom-modal">
    <div>
        <EditForm Model="@Organisation" OnValidSubmit="Submit">
            <DataAnnotationsValidator />
            <ValidationSummary class="mt-2" />
            <div>
                <div class="form-group">
                    <label for="name" class="small mb-1">Name</label>
                    <InputText id="name" class="form-control" @bind-Value="Organisation.Name"></InputText>
                </div>
                <p class="mt-4">
                    <button @onclick="Cancel" class="btn btn-secondary btn-sm mr-2">Cancel</button>
                    <button type="submit" class="btn btn-primary btn-sm mr-2">Save</button>
                </p>
            </div>
        </EditForm>
    </div>
</div>
